[submodule "apps/kojo_HW"]
	path = apps/kojo_HW
	url = https://github.com/22060/2026_koreisai_HW.git

[submodule "apps/phone"]
	path = apps/phone
	url = https://github.com/nyaran2910/KosenChanbaraPhoneController.git

[submodule "apps/unity"]
	path = apps/unity
	url = https://github.com/nyaran2910/KosenChanbara.git

[submodule "apps/HW"]
	path = apps/HW
	url = https://github.com/nyaran2910/kosen-chanbara-controller.git
